<%= form_for @service do |f| %>
  <% if @service.errors.any? %>
  <div class="alert alert-danger">
    <strong><%= pluralize(@service.errors.count, 'error') %> prohibited this service from being saved:</strong>
    <ul>
    <% @service.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>


  <fieldset class="form-group">
    <label for="uid">Username</label>
    <%= f.text_field :uid,
        :placeholder => :username,
        :class => 'form-control',
        :id => 'uid',
        :required => 'true' %>
  </fieldset>

  <fieldset class="form-group">
    <label for="display_name">Display name</label>
    <%= f.text_field :display_name,
        :placeholder => :display_name,
        :class => 'form-control',
        :id => 'display_name',
        :required => 'true' %>
  </fieldset>

  <div class="title-heading">
    <h3>Secret token</h3>
  </div>
  <% if params[:action] == 'edit' %>
    <%= link_to 'Reset secret token', reset_service_path(@service),
                                  :method => :post,
                                  :class => 'btn btn-secondary',
                                  :data => { :confirm => 'Are you sure you wish to reset the secret token? This will void the current one.' } %>
  <% else params[:action] == 'new' %>
    <fieldset class="form-group">
      <label for="password">Token</label>
      <div class="secret"><%= @service.password %></div>
      <%= f.hidden_field :password,
          :placeholder => :password,
          :id => 'password',
          :required => 'true' %>
      <%= f.hidden_field :password_confirmation,
          :placeholder => :password_confirmation,
          :id => 'password_confirmation',
          :required => 'true' %>
    </fieldset>
  <% end %>

  <% if can? :toggle, @user %>
    <div class="title-heading">
      <h3>Account state</h3>
    </div>

    <div class="alert alert-warning">
      <i class="fa fa-exclamation-triangle"></i> Disabled accounts cannot be used for signin in using any authentication backend
    </div>

    <fieldset class="form-group text-xs-center">
        <%= form.check_box :enabled,
            :id => 'enabled',
            :data => {
                :toggle => 'toggle',
                :onstyle => 'success',
                :offstyle => 'danger' },
            :class => 'form-control' %>
    </fieldset>
  <% end %>
  <br>
  <%= f.submit 'Save', :class => 'btn btn-primary' %>
<% end %>


<% if can? :assign, @service and action? 'edit' %>
  <div class="title-heading">
    <h3>Authorization</h3>
  </div>

  <div class="row">
    <div class="col-xs-8">
      <table class="table">
        <thead>
          <tr>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <% if @service.roles.empty? %>
            <tr>
              <td class="text-xs-center">
                <em>No roles assigned</em>
              </td>
            </tr>
          <% else %>
            <% @service.roles.each do |role| %>
              <tr>
                <td><%= role.display_name %></td>
                <td>
                  <%= link_to service_role_path(@service, :id => role.id), method: :delete, :title => 'Remove role', :data => { :toggle => 'tooltip' } do %>
                    <i class="fa fa-times"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

    <% if (Role.all - @service.roles).any? %>
      <div class="col-xs-4">
        <%= form_for :role, url: service_roles_path(@service) do |role_form| %>
          <label class="dropdown">
            <%= role_form.select :id, Role.all.reject { |r| @service.roles.include? r }.collect { |r| [ r.display_name, r.id ] } %>
          </label>
          <%= role_form.submit 'Add', :class => "btn btn-sm btn-secondary" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
