<% content_for :title do   %>Accounts<% end %>
<% content_for :section do %>Services<% end %>

<%= render 'partials/messages' %>

<div class="pull-right">
  <% if can? :create, Service %>
    <%= link_to new_service_path,
                            :class => 'btn btn-secondary btn-sm',
                            :title => 'Add service',
                            :data => { :toggle => 'tooltip' } do %>
      <i class="fa fa-plus"></i>
    <% end %>
  <% end %>
</div>
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a href="#all" class="nav-link active" role="tab" data-toggle="tab">All</a>
  </li>
</ul>


<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="all">
    <table class="th table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Display name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% if @services.empty? %>
          <tr>
            <td colspan="4" class="text-center">
              <em>No services found</em>
            </td>
          </tr>
        <% else %>
          <% @services.each do |service| %>
            <tr>
              <td>
                <%= service.uid %>
              </td>
              <td>
                <strong><%= link_to service.display_name, service_path(service) %></strong>
              </td>
              <td>
                <%= service.enabled ? 'Enabled' : 'Disabled' %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
