<% content_for :title do   %>
  <ol class="th breadcrumb">
    <li>Accounts</li>
    <li><%= link_to 'Services', services_path %></li>
  </ol>
<% end %>
<% content_for :section do %>Service <%= @service.display_name %><% end %>

<div class="pull-right">
  <div class="btn-group">
    <% if can? :update, @service %>
      <%= link_to edit_service_path(@service), :class => 'btn btn-secondary btn-sm', :title => 'Edit service', :data => {:toggle => 'tooltip'}  do %>
        <i class="fa fa-pencil"></i>
      <% end %>
    <% end %>
    <% if can? :destroy, @service %>
      <%= link_to service_path(@service),
                            :method => :delete,
                            :title => 'Delete service',
                            data: { confirm: 'Are you sure you want to delete this service?',
                                    :toggle => 'tooltip' },
                            :class => 'btn btn-secondary btn-sm' do %>
        <i class="fa fa-trash"></i>
      <% end %>
    <% end %>
  </div>
</div>

<div class="pull-left">
  <% if can? :update, @service and not @service.enabled? %>
    <div class="alert alert-warning">
      <i class="fa fa-exclamation-triangle"></i> This account is disabled and cannot be used for signing in using any authentication backend.
    </div>
  <% end %>
</div>

<table class="th attribute-table">
  <tr>
    <td>Username</td>
    <td><%= @service.uid %></td>
  </tr>
  <tr>
    <td>Display name</td>
    <td><%= @service.display_name %></td>
  </tr>
  <tr>
    <td>State</td>
    <td><%= @service.enabled ? 'Enabled' : 'Disabled' %></td>
  </tr>
</table>

<div class="title-heading">
  <h3>Authorization</h3>
</div>

<p>
  <% if @service.roles.any? %>
    <%= @service.display_name %> has been assigned the following roles:
    <strong><%= @service.roles.map { |r| r.display_name }.join ', ' %></strong>
  <% else %>
    <em><%= @service.display_name %> does not have any assigned roles</em>
  <% end %>
</p>

<div class="title-heading">
  <h3>Groups</h3>
</div>

<div class="row">
  <div class="col-xs-8">
    <% if @service.groups.select { |g| can? :read, g }.empty? %>
      <em>No groups found</em>
    <% else %>
      <table class="th table">
        <thead>
          <th>Group</th>
          <th>Owner</th>
        </thead>
        <tbody>
          <% @service.groups.select { |g| can? :read, g }.each do |group| %>
            <tr>
              <td><%= link_to group.display_name, group_path(group) %></td>
              <td>
                <% if group.owner %>
                  <%= link_to group.owner.display_name, user_path(group.owner) %>
                <% else %>
                  <em>No current owner</em>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
