<h4>Dashboard</h4>
<hr>
<div class="row">
  <div class="four columns">
    <div class="info-panel info-panel-color-1">
      <div class="info-panel-body">
        <h2><%= User.all.count %></h2> <h5><%= 'user'.pluralize(User.all.count) %></h5>
      </div>
      <div class="info-panel-actions">
        <%= link_to "Details &raquo;".html_safe, users_path, :class => "white-text" %>
      </div>
    </div>
  </div>
  <div class="four columns">
    <div class="info-panel info-panel-color-2">
      <div class="info-panel-body">
        <h2><%= Service.all.count %></h2> <h5><%= 'service'.pluralize(Service.all.count) %></h5>
      </div>
      <div class="info-panel-actions">
        <%= link_to "Details &raquo;".html_safe, services_path, :class => "white-text" %>
      </div>
    </div>
  </div>
  <div class="four columns">
    <div class="info-panel info-panel-color-3">
      <div class="info-panel-body">
        <h2><%= Group.all.count %></h2> <h5><%= 'group'.pluralize(Group.all.count) %></h5>
      </div>
      <div class="info-panel-actions">
        <%= link_to "Details &raquo;".html_safe, groups_path, :class => "white-text" %>
      </div>
    </div>
  </div>
</div>
