<%= form_for @application, url: doorkeeper_submit_path(application) do |f| %>
  <% if @application.errors.any? %>
  <div class="alert alert-danger">
    <strong><%= pluralize(@application.errors.count, 'error') %> prohibited this application from being saved:</strong>
    <ul>
    <% @application.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <fieldset class="form-group">
    <label for="name">Domain</label>
    <%= f.text_field :name,
        :placeholder => :name,
        :class => 'form-control',
        :id => 'name',
        :required => 'true' %>
  </fieldset>

  <fieldset class="form-group">
    <label for="redirect_uri">Callback URI</label>
    <%= f.text_area :redirect_uri,
        :placeholder => 'Redirect URI',
        :class => 'form-control',
        :id => 'redirect_uri',
        :required => 'true' %>

    <small>
      Use one line per URI.
      <% if Doorkeeper.configuration.native_redirect_uri %>
        Use <code><%= Doorkeeper.configuration.native_redirect_uri %></code> for local tests
      <% end %>
      </small>
  </fieldset>

  <fieldset class="form-group">
    <label for="scopes">Scopes</label>
    <%= f.text_field :scopes,
        :placeholder => :scopes,
        :class => 'form-control',
        :id => 'scopes',
        :required => 'true' %>

    <small>Separate scopes with spaces. Leave blank to use the default scopes.</small>
  </fieldset>

  <%= f.submit 'Save', :class => 'btn btn-primary' %>
<% end %>
