<%= form_for @email_alias do |f| %>
  <% if @email_alias.errors.any? %>
  <div class="alert alert-danger">
    <strong><%= pluralize(@email_alias.errors.count, 'error') %> prohibited this email alias from being saved:</strong>
    <ul>
    <% @email_alias.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <fieldset class="form-group">
    <label for="alias">Alias</label>
    <%= f.text_field :alias,
        :placeholder => :alias,
        :class => 'form-control',
        :id => 'alias',
        :autofocus =>'true',
        :required => 'true' %>
  </fieldset>

  <fieldset class="form-group">
    <label for="mail">Destination email</label>
    <%= f.text_field :mail,
        :placeholder => :mail,
        :class => 'form-control',
        :value => @email_alias.mail || params[:mail],
        :id => 'mail',
        :required => 'true' %>
  </fieldset>

  <%= f.submit 'Save', :class => 'btn btn-primary' %>
<% end %>
