<% content_for :title do   %>
  <ol class="th breadcrumb">
    <li>Mail</li>
    <li><%= link_to 'Email aliases', mail_path(:anchor => "email_aliases") %></li>
  </ol>
<% end %>
<% content_for :section do %>Email alias <%= @email_alias.alias %><% end %>

<div class="pull-right">
  <div class="btn-group">
    <% if can? :update, @email_alias %>
      <%= link_to edit_email_alias_path(@email_alias), :class => 'btn btn-secondary btn-sm', :title => 'Edit email alias', :data => {:toggle => 'tooltip'} do %>
        <i class="fa fa-pencil"></i>
      <% end %>
    <% end %>
    <% if can? :destroy, @email_alias %>
      <%= link_to email_alias_path(@email_alias),
                            :method => :delete,
                            :title => 'Delete email alias',
                            data: { :confirm => 'Are you sure you want to delete this email alias?',
                                    :toggle => 'tooltip' },
                            :class => 'btn btn-secondary btn-sm' do %>
        <i class="fa fa-trash"></i>
      <% end %>
    <% end %>
  </div>
</div>

<p>
  <strong>Alias</strong>: <%= @email_alias.alias %>
</p>
<p>
  <strong>Destination email</strong>: <%= @email_alias.mail %>
</p>
