<div class="row">
  <div class="col-xs-4">
    <%= link_to home_path, :class => 'logo' do %>
      <img src="<%= asset_path("logo.png") %>">
    <% end %>
  </div>
</div>
<div class="row">
  <nav>
    <ul class="nav nav-pills nav-stacked">
      <div class="title-main m-t">General</div>
      <li class="nav-item">
        <%= link_to home_path, :class => (controller?('home') ? 'nav-link active' : 'nav-link') do %>
          Home
        <% end %>
      </li>
      <% if current_user.has_role? :administrator %>
        <li class="nav-item">
          <%= link_to dashboard_path, :class => (controller?('dashboard') ? 'nav-link active' : 'nav-link') do %>
            Dashboard
          <% end %>
        </li>
      <% end %>
      <div class="title-main m-t">Accounts</div>
      <% if current_user.can? :list, User %>
        <li class="nav-item">
          <%= link_to users_path, :class => (controller?('users') ? 'nav-link active' : 'nav-link') do %>
            Users
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to user_path(current_user), :class => (controller?('users') ? 'nav-link active' : 'nav-link') do %>
            My Account<%= params[:action] %>
          <% end %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to services_path, :class => (controller?('services') ? 'nav-link active' : 'nav-link') do %>
          Services
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to groups_path, :class => (controller?('groups') ? 'nav-link active' : 'nav-link') do %>
          Groups
        <% end %>
      </li>
      <% if current_user.can? :update, Role %>
        <li class="nav-item">
          <%= link_to roles_path, :class => (controller?('roles') ? 'nav-link active' : 'nav-link') do %>
            Authorization
          <% end %>
        </li>
      <% end %>
      <div class="title-main m-t">Email</div>
      <% if can? :update, Domain %>
        <li class="nav-item">
          <%= link_to domains_path, :class => (controller?('domains') ? 'nav-link active' : 'nav-link') do %>
            Domains
          <% end %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to mail_path, :class => (controller?('mail', 'domainaliases', 'emails', 'emailaliases') ? 'nav-link active' : 'nav-link') do %>
          Emails
        <% end %>
      </li>
    </ul>
  </nav>
</div>
