<div class="row">
  <div class="col-xs-4">
    <%= link_to home_path, :class => 'nav-logo' do %>
      <img src="<%= asset_path("logo.png") %>">
    <% end %>
  </div>
</div>
<div class="row">
  <nav class="p-a-0">
    <ul class="nav nav-pills nav-stacked">
      <div class="title-main m-t-1">General</div>
      <li class="nav-item">
        <%= link_to home_path, :class => (controller?('home') ? 'nav-link active' : 'nav-link') do %>
          Home
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to notifications_path, :class => (controller?('notifications') ? 'nav-link active' : 'nav-link') do %>
          <div class="pull-right">
            <span class="label label-pill label-default"><%= current_user.notifications.select { |n| not n.read }.count %></span>
          </div>
          Notifications
        <% end %>
      </li>
      <div class="title-main m-t-1">Accounts</div>
      <li class="nav-item">
        <%= link_to user_path(current_user),
          :class => "nav-link #{current_page?(:controller => '/users', :action => 'show', :id => current_user.id) ? 'active' : ''}" do %>
          My Account
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to users_path,
          :class => "nav-link #{(controller?('users') and not current_page?(:controller => '/users', :action => 'show', :id => current_user.id)) ? 'active' : ''}" do %>
          Users
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to services_path, :class => (controller?('services') ? 'nav-link active' : 'nav-link') do %>
          Services
        <% end %>
      </li>
      <% if current_user.has_role? :administrator %>
        <li class="nav-item">
          <%= link_to roles_path, :class => (controller?('roles') ? 'nav-link active' : 'nav-link') do %>
            Roles
          <% end %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to groups_path, :class => (controller?('groups') ? 'nav-link active' : 'nav-link') do %>
          Groups
        <% end %>
      </li>
      <% if can? :read, Email and can? :read, Domain %>
        <div class="title-main m-t-1">Mail</div>
        <li class="nav-item">
          <%= link_to domains_path, :class => (controller?('domains', 'domain_aliases') ? 'nav-link active' : 'nav-link') do %>
            Domains
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to mail_path, :class => (controller?('mail', 'emails', 'email_aliases') ? 'nav-link active' : 'nav-link') do %>
            Emails
          <% end %>
        </li>
      <% end %>
      <% if current_user.has_role? :administrator %>
        <div class="title-main m-t-1">Administrator</div>
        <li class="nav-item">
          <%= link_to admin_path, :class => (controller?('admin') ? 'nav-link active' : 'nav-link') do %>
            Admin panel
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to oauth_applications_path, :class => (controller?('doorkeeper/applications') ? 'nav-link active' : 'nav-link') do %>
            OAuth2
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
