<% content_for :title do   %>General<% end %>
<% content_for :section do %>Notifications<% end %>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a href="#all" class="nav-link active" role="tab" data-toggle="tab">All</a>
  </li>
  <li class="nav-item">
    <a href="#unread" class="nav-link" role="tab" data-toggle="tab">Unread</a>
  </li>
  <li class="nav-item">
    <a href="#read" class="nav-link" role="tab" data-toggle="tab">Read</a>
  </li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="all">
    <div class="pull-right toolbar">
      <% if @notifications.any? %>
        <div class="btn-group">
          <%= link_to update_notifications_path,
                    :class => 'btn btn-secondary btn-sm',
                    :method => :patch,
                    :title => 'Mark all notifications as read',
                    data: { :toggle => 'tooltip' } do %>
            <i class="fa fa-check"></i>
          <% end %>
          <%= link_to destroy_notifications_path,
                    :class => 'btn btn-secondary btn-sm',
                    :method => :delete,
                    :title => 'Delete all notifications',
                    data: { :toggle => 'tooltip' } do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Priority</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% if @notifications.empty? %>
          <tr>
            <td colspan="3" class="text-xs-center">
              <em>No notifications</em>
            </td>
          </tr>
        <% else %>
          <% @notifications.each do |notification| %>
            <tr>
              <td>
                <% if notification.read %>
                  <%= link_to notification.title, notification_path(notification) %>
                <% else %>
                  <strong><%= link_to notification.title, notification_path(notification) %></strong>
                <% end %>
              </td>
              <td>
                <%= notification.priority_display %>
              </td>
              <td>
                <%= time_ago_in_words(notification.timestamp) %> ago
              </td>
              <td>
                <%= link_to notification_path(notification),
                          :method => :delete,
                          :title => 'Delete notification',
                          data: { :toggle => 'tooltip' } do %>
                  <i class="fa fa-times"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div role="tabpanel" class="tab-pane fade in" id="unread">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Priority</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% if @notifications.select { |n| not n.read }.empty? %>
          <tr>
            <td colspan="3" class="text-xs-center">
              <em>No unread notifications</em>
            </td>
          </tr>
        <% else %>
          <% @notifications.select { |n| not n.read }.each do |notification| %>
            <tr>
              <td>
                <strong><%= link_to notification.title, notification_path(notification) %></strong>
              </td>
              <td>
                <%= notification.priority_display %>
              </td>
              <td>
                <%= time_ago_in_words(notification.timestamp) %> ago
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div role="tabpanel" class="tab-pane fade in" id="read">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Priority</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% if @notifications.select { |n| n.read }.empty? %>
          <tr>
            <td colspan="3" class="text-xs-center">
              <em>No read notifications</em>
            </td>
          </tr>
        <% else %>
          <% @notifications.select { |n| n.read }.each do |notification| %>
            <tr>
              <td>
                <strong><%= link_to strip_tags(notification.title), notification_path(notification) %></strong>
              </td>
              <td>
                <%= notification.priority_display %>
              </td>
              <td>
                <%= time_ago_in_words(notification.timestamp) %> ago
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
