<% content_for :title do   %>
  <ol class="th breadcrumb">
    <li>General</li>
    <li><%= link_to 'Notifications', notifications_path %></li>
  </ol>
<% end %>
<% content_for :section do %>Notification<% end %>

<% if can? :destroy, @notification %>
  <div class="pull-right">
    <%= link_to notification_path(@notification),
                          :method => :delete,
                          :title => 'Delete notification',
                          data: { :toggle => 'tooltip' },
                          :class => 'btn btn-secondary btn-sm' do %>
      <i class="fa fa-trash"></i>
    <% end %>
  </div>
<% end %>

<table class="th attribute-table">
  <tr>
    <td>Priority</td>
    <td><%= @notification.priority_display %></td>
  </tr>
  <tr>
    <td>Subject</td>
    <td><%= @notification.title.html_safe %></td>
  </tr>
  <tr>
    <td>Content</td>
    <td><%= @notification.text.html_safe %></td>
  </tr>
</table>
