<%= form_for @group do |f| %>
  <% if @group.errors.any? %>
  <div class="alert alert-danger">
    <strong><%= pluralize(@group.errors.count, 'error') %> prohibited this group from being saved:</strong>
    <ul>
    <% @group.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <% if @group.email %>
    <div class="alert alert-warning">
      <i class="fa fa-exclamation-triangle"></i> This group has an associated email account. Changing the name of this group will void access control on the email account.
    </div>
  <% end %>

  <fieldset class="form-group">
    <label for="name">Name</label>
    <%= f.text_field :name,
        :placeholder => :name,
        :class => 'form-control',
        :id => 'name',
        :autofocus =>'true',
        :required => 'true' %>
  </fieldset>

  <fieldset class="form-group">
    <label for="display_name">Display name</label>
    <%= f.text_field :display_name,
        :placeholder => :display_name,
        :class => 'form-control',
        :id => 'display_name',
        :required => 'true' %>
  </fieldset>

  <% if action?('edit', 'update') and @group.users.any? %>
    <fieldset class="form-group">
      <label for="owner">Owner</label><br>
      <label class="th dropdown">
        <%= f.collection_select(:user_id, @group.users.all, :id, :display_name, {:include_blank => true}) %>
      </label>
    </fieldset>
  <% end %>

  <%= f.submit 'Save', :class => 'btn btn-primary' %>
<% end %>
