<%= form_for @group do |f| %>
  <% if @group.errors.any? %>
  <div class="alert alert-danger">
    <strong><%= pluralize(@group.errors.count, 'error') %> prohibited this group from being saved:</strong>
    <ul>
    <% @group.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row">
    <h5>Group details</h5>
  </div>

  <div class="row">
    <div class="two columns align-right">
      Name
    </div>
    <div class="eight columns">
      <div id="section-edit" class="<%= 'hidden' unless @group.name.nil? %>">
        <%= f.text_field :name,
            :placeholder => :name,
            :class => 'u-full-width lowercase',
            :required => 'true' %>
      </div>
      <div id="section-show" class="<%= 'hidden' if @group.name.nil? %>">
        <p>
          <strong><%= @group.name %></strong>
          <a href="javascript:void(0);" id="button-edit" data-property="name" class="button button-small">Edit</a>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="two columns align-right">
      Display name
    </div>
    <div class="eight columns">
      <%= f.text_field :display_name,
          :placeholder => :display_name,
          :class => 'u-full-width' %>
    </div>
  </div>

  <% if params[:action] != 'new' %>
    <div class="row">
      <h5>Members</h5>
      <div class="five columns">
        <% if @group.users.length == 0 %>
          <p><em>No members</em></p>
        <% end %>
        <table class="u-full-width">
          <% @group.users.each do |user| %>
            <tr>
              <td><%= link_to user.first_name + ' ' + user.last_name, user_path(user) %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="five columns">
      </div>
    </div>
  <% end %>

  <div class="row">
    <%= f.submit 'Save',
            :class => 'button button-primary-color' %>
<% end %>
