<% content_for :title do   %>Accounts<% end %>
<% content_for :section do %>Groups<% end %>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a href="#all" class="nav-link active" role="tab" data-toggle="tab">All</a>
  </li>
  <li class="nav-item">
    <a href="#member" class="nav-link" role="tab" data-toggle="tab">Member</a>
  </li>
  <li class="nav-item">
    <a href="#owner" class="nav-link" role="tab" data-toggle="tab">Owner</a>
  </li>
</ul>

<div class="tab-content">
  <div class="pull-right toolbar">
    <% if can? :create, Group %>
      <%= link_to new_group_path,
                              :class => 'btn btn-secondary btn-sm',
                              :title => 'Add group',
                              :data => { :toggle => 'tooltip' } do %>
        <i class="fa fa-plus"></i>
      <% end %>
    <% end %>
  </div>
  <div role="tabpanel" class="tab-pane fade in active" id="all">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Owner</th>
          <th>Members</th>
        </tr>
      </thead>
      <tbody>
        <% if @groups.empty? %>
          <tr>
            <td colspan="4" class="text-center">
              <em>No groups found</em>
            </td>
          </tr>
        <% else %>
          <% @groups.each do |group| %>
            <tr>
              <td>
                <strong><%= link_to group.display_name, group_path(group) %></strong>
              </td>
              <td>
                <% if group.owner == current_user %>
                  Owner
                <% elsif group.users.include? current_user %>
                  Member
                <% else %>
                  Not a member
                <% end %>
              </td>
              <td>
                <% if group.owner %>
                  <%= link_to group.owner.display_name, user_path(group.owner) %>
                <% else %>
                  <em>No current owner</em>
                <% end %>
              </td>
              <td>
                <%= pluralize(group.users.count, 'member') %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div role="tabpanel" class="tab-pane fade in" id="member">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Owner</th>
          <th>Members</th>
        </tr>
      </thead>
      <tbody>
        <% if @groups.select { |g| g.users.include? current_user }.empty? %>
          <tr>
            <td colspan="4" class="text-center">
              <em>No groups found</em>
            </td>
          </tr>
        <% else %>
          <% @groups.select { |g| g.users.include? current_user }.each do |group| %>
            <tr>
              <td>
                <strong><%= link_to group.display_name, group_path(group) %></strong>
              </td>
              <td>
                <% if group.owner == current_user %>
                  Owner
                <% elsif group.users.include? current_user %>
                  Member
                <% else %>
                  Not a member
                <% end %>
              </td>
              <td>
                <% if group.owner %>
                  <%= link_to group.owner.display_name, user_path(group.owner) %>
                <% else %>
                  <em>No current owner</em>
                <% end %>
              </td>
              <td>
                <%= pluralize(group.users.count, 'member') %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div role="tabpanel" class="tab-pane fade in" id="owner">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Owner</th>
          <th>Members</th>
        </tr>
      </thead>
      <tbody>
        <% if @groups.select { |g| g.owner == current_user }.empty? %>
          <tr>
            <td colspan="4" class="text-center">
              <em>No groups found</em>
            </td>
          </tr>
        <% else %>
          <% @groups.select { |g| g.owner == current_user }.each do |group| %>
            <tr>
              <td>
                <strong><%= link_to group.display_name, group_path(group) %></strong>
              </td>
              <td>
                <% if group.owner == current_user %>
                  Owner
                <% elsif group.users.include? current_user %>
                  Member
                <% else %>
                  Not a member
                <% end %>
              </td>
              <td>
                <% if group.owner %>
                  <%= link_to group.owner.display_name, user_path(group.owner) %>
                <% else %>
                  <em>No current owner</em>
                <% end %>
              </td>
              <td>
                <%= pluralize(group.users.count, 'member') %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
