<% content_for :title do   %>
  <ol class="breadcrumb">
    <li>Accounts</li>
    <li><%= link_to 'Groups', groups_path %></li>
  </ol>
<% end %>
<% content_for :section do %>Group <%= @group.name %><% end %>

<div class="pull-right">
  <div class="btn-group">
    <% if can? :update, @group %>
      <%= link_to edit_group_path(@group), :class => 'btn btn-secondary btn-sm', :title => 'Edit group', :data => {:toggle => 'tooltip'}  do %>
        <i class="fa fa-pencil"></i>
      <% end %>
    <% end %>
    <% if can? :destroy, @group %>
      <%= link_to group_path(@group),
                            :method => :delete,
                            :title => 'Delete group',
                            data: { confirm: 'Are you sure you want to delete this group?',
                                    :toggle => 'tooltip' },
                            :class => "btn btn-secondary btn-sm #{(@group.email.nil? ? '' : 'disabled')}",
                            :disabled => (@group.email.nil? ? 'false' : 'true') do %>
        <i class="fa fa-trash"></i>
      <% end %>
    <% end %>
  </div>
</div>

<table class="attribute-table">
  <tr>
    <td>Name</td>
    <td><%= @group.name %></td>
  </tr>
  <tr>
    <td>Display name</td>
    <td><%= @group.display_name %></td>
  </tr>
  <tr>
    <td>Owner</td>
    <td>
      <% if @group.owner %>
        <%= link_to @group.owner.display_name, user_path(@group.owner) %>
      <% else %>
        <em>No current owner</em>
      <% end %>
    </td>
  </tr>
  <% if not @group.email.nil? %>
  <tr>
    <td>Email account</td>
    <td><%= link_to @group.email, domain_email_path(@group.email.domain, @group.email) %></td>
  </tr>
  <% end %>
</table>

<div class="title-heading">
  <h3>Members</h3>
</div>

<div class="row">
  <div class="col-xs-8">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% if @group.users.empty? %>
          <tr>
            <td colspan="3" class="text-xs-center">
              <em>No members found</em>
            </td>
          </tr>
        <% else %>
          <% @group.users.order(:uid).each do |member| %>
            <tr>
              <td><%= link_to member.display_name, user_path(member) %></td>
              <td><%= @group.owner == member ? 'Owner' : 'Member' %></td>
              <% if can? :update, @group %>
                <td>
                  <% if @group.owner != member %>
                    <%= link_to group_user_path(@group, :id => member.id), method: :delete, :title => 'Remove member', :data => { :toggle => 'tooltip' } do %>
                      <i class="fa fa-times"></i>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <% if can? :update, @group %>
    <% if @users_not_in_group.any? %>
      <div class="col-xs-4">
        <%= form_for :user, url: group_users_path(@group) do |f| %>
          <label class="th dropdown">
            <%= f.select :id, @users_not_in_group.collect { |u| [ u.display_name, u.id ] } %>
          </label>
          <%= f.submit 'Add', :class => "btn btn-sm btn-secondary" %>
        <% end %>
      </div>
    <% else %>
      <em>All visible users belong to this group</em>
    <% end %>
  <% end %>
</div>

<div class="title-heading">
  <h3>Services</h3>
</div>

<div class="row">
  <div class="col-xs-8">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% if @group.services.empty? %>
          <tr>
            <td colspan="3" class="text-xs-center">
              <em>No services found</em>
            </td>
          </tr>
        <% else %>
          <% @group.services.order(:uid).each do |service| %>
            <tr>
              <td><%= link_to service.display_name, service_path(service) %></td>
              <% if can? :update, @group %>
                <td>
                  <%= link_to group_service_path(@group, :id => service.id), method: :delete, :title => 'Remove service', :data => { :toggle => 'tooltip' } do %>
                    <i class="fa fa-times"></i>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <% if can? :update, @group %>
    <% if @services_not_in_group.any? %>
      <div class="col-xs-4">
        <%= form_for :service, url: group_services_path(@group) do |f| %>
          <label class="th dropdown">
            <%= f.select :id, @services_not_in_group.collect { |u| [ u.display_name, u.id ] } %>
          </label>
          <%= f.submit 'Add', :class => "btn btn-sm btn-secondary" %>
        <% end %>
      </div>
    <% else %>
      <em>All services belong to this group</em>
    <% end %>
  <% end %>
</div>
