<% content_for :title do   %>
  <ol class="th breadcrumb">
    <li>Accounts</li>
    <li><%= link_to 'Groups', groups_path %></li>
  </ol>
<% end %>
<% content_for :section do %>Group <%= @group.name %><% end %>

<div class="pull-right">
  <div class="btn-group">
    <% if can? :update, @group %>
      <%= link_to edit_group_path(@group), :class => 'btn btn-secondary btn-sm', :title => 'Edit group', :data => {:toggle => 'tooltip'}  do %>
        <i class="fa fa-pencil"></i>
      <% end %>
    <% end %>
    <% if can? :destroy, @group %>
      <%= link_to group_path(@group),
                            :method => :delete,
                            :title => 'Delete group',
                            data: { confirm: 'Are you sure you want to delete this group?',
                                    :toggle => 'tooltip' },
                            :class => 'btn btn-secondary btn-sm' do %>
        <i class="fa fa-trash"></i>
      <% end %>
    <% end %>
  </div>
</div>


<p>
  <strong>Name</strong>: <%= @group.name %><br>
  <strong>Display name</strong>: <%= @group.display_name %><br>
  <strong>Owner</strong>:
    <% if @group.owner %>
      <%= @group.owner.display_name %>
    <% else %>
      <em>No current owner</em>
    <% end %>
</p>

<div class="title-heading">
  <h3>Members</h3>
</div>

<table class="th table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if @group.users.nil? %>
      <tr>
        <td colspan="3" class="text-center">
          <em>No members found</em>
        </td>
      </tr>
    <% else %>
      <% @group.users.each do |member| %>
        <tr>
          <td><%= link_to member.display_name, user_path(member) %></td>
          <td><%= @group.owner == member ? 'Owner' : 'Member' %></td>
          <td>
            Actions
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
