<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
  <div class="alert alert-danger">
    <strong><%= pluralize(@user.errors.count, 'error') %> prohibited this user from being saved:</strong>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>


  <fieldset class="form-group">
    <label for="uid">Username</label>
    <%= f.text_field :uid,
        :placeholder => :username,
        :class => 'form-control',
        :id => 'uid',
        :required => 'true' %>
  </fieldset>

  <fieldset class="form-group">
    <label for="first_name">First name</label>
    <%= f.text_field :first_name,
        :placeholder => :first_name,
        :class => 'form-control',
        :id => 'first_name',
        :required => 'true' %>
  </fieldset>

  <fieldset class="form-group">
    <label for="last_name">Last name</label>
    <%= f.text_field :last_name,
        :placeholder => :last_name,
        :class => 'form-control',
        :id => 'last_name' %>
  </fieldset>

  <fieldset class="form-group">
    <label for="email">Email</label>
    <%= f.email_field :email,
        :placeholder => :email,
        :class => 'form-control',
        :id => 'email',
        :required => 'true' %>
  </fieldset>

  <% if can? :assign, @user %>
    <div class="title-heading">
      <h3>Account state</h3>
    </div>

    <div class="alert alert-warning">
      <i class="fa fa-exclamation-triangle"></i> Disabled accounts cannot be used for signin in using any authentication backend
    </div>

    <fieldset class="form-group text-center">
      <%= f.check_box :enabled,
          :id => 'enabled',
          :class => 'form-control toggle-switch' %>
    </fieldset>
  <% end %>

  <% if params[:action] == 'edit' %>
    <div class="title-heading">
      <h3>Password</h3>
    </div>

    <p>Leave this section blank if you want the password to remain unchanged.</p>

    <fieldset class="form-group">
      <label for="password">New password</label>
      <%= f.password_field :password,
          :placeholder => :password,
          :class => 'form-control',
          :id => 'password',
          :autocomplete => 'off' %>
    </fieldset>

    <fieldset class="form-group">
      <label for="password_confirmation">Confirm new password</label>
      <%= f.password_field :password_confirmation,
          :placeholder => :password_confirmation,
          :class => 'form-control',
          :id => 'password_confirmation',
          :autocomplete => 'off' %>
    </fieldset>
  <% end %>

  <% if can? :update, @user %>
    <div class="title-heading">
      <h3>Authorization</h3>
    </div>

    <% Role.all.each do |role| %>
      <div class="checkbox-container">
        <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
        <%= role.display_name %>
      </div>
    <% end %>
  <% end %>

  <%= f.submit 'Save', :class => 'btn btn-primary' %>
<% end %>
