<%= form_for @user do |form| %>
  <% if @user.errors.any? %>
  <div class="alert alert-danger">
    <strong><%= pluralize(@user.errors.count, 'error') %> prohibited this user from being saved:</strong>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <% if action? 'new' %>
    <fieldset class="form-group">
      <label for="uid">Username</label>
      <%= form.text_field :uid,
          :placeholder => :username,
          :class => 'form-control',
         :id => 'uid',
          :required => 'true' %>
    </fieldset>
  <% end %>

  <fieldset class="form-group">
    <label for="first_name">First name</label>
    <%= form.text_field :first_name,
        :placeholder => :first_name,
        :class => 'form-control',
        :id => 'first_name',
        :required => 'true' %>
  </fieldset>

  <fieldset class="form-group">
    <label for="last_name">Last name</label>
    <%= form.text_field :last_name,
        :placeholder => :last_name,
        :class => 'form-control',
        :id => 'last_name' %>
  </fieldset>

  <fieldset class="form-group">
    <label for="email">Email</label>
    <%= form.email_field :email,
        :placeholder => :email,
        :class => 'form-control',
        :id => 'email',
        :required => 'true' %>
  </fieldset>

  <% if can? :toggle, @user or @user.access_locked? %>
    <div class="title-heading">
      <h3>Account state</h3>
    </div>

    <% if can? :toggle, @user %>
      <div class="alert alert-warning">
        <i class="fa fa-exclamation-triangle"></i> Disabled accounts cannot be used for signin in using any authentication backend
      </div>

      <fieldset class="form-group text-center">
        <%= form.check_box :enabled,
            :id => 'enabled',
            :class => 'form-control toggle-switch' %>
      </fieldset>
    <% end %>

    <% if @user.access_locked? %>
      <div class="alert alert-warning">
        <i class="fa fa-lock"></i> This account is locked and cannot sign in on the panel.
      </div>

      <div class="text-center">
        <%= link_to 'Unlock account', unlock_user_path(@user),
                          :class => 'btn btn-secondary',
                          :method => :post %>
      </div>
    <% end %>
  <% end %>
  <% if action?('edit', 'update') %>
    <div class="title-heading">
      <h3>Password</h3>
    </div>

    <p>Leave this section blank if you want the password to remain unchanged.</p>

    <fieldset class="form-group">
      <label for="password">New password</label>
      <%= form.password_field :password,
          :placeholder => "Password (minimum #{Rails.application.config.devise.password_length.first} characters)",
          :class => 'form-control',
          :id => 'password',
          :autocomplete => 'off' %>
    </fieldset>

    <fieldset class="form-group">
      <label for="password_confirmation">Confirm new password</label>
      <%= form.password_field :password_confirmation,
          :placeholder => :password_confirmation,
          :class => 'form-control',
          :id => 'password_confirmation',
          :autocomplete => 'off' %>
    </fieldset>
  <% end %>
  <br>
  <%= form.submit 'Save', :class => 'btn btn-primary' %>
<% end %>

<% if can? :assign, @user and action? 'edit' %>
  <div class="title-heading">
    <h3>Authorization</h3>
  </div>

  <div class="row">
    <div class="col-xs-8">
      <table class="table">
        <thead>
          <tr>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <% if @user.roles.empty? %>
            <tr>
              <td class="text-center">
                <em>No roles assigned</em>
              </td>
            </tr>
          <% else %>
            <% @user.roles.each do |role| %>
              <tr>
                <td><%= role.display_name %></td>
                <td>
                  <%= link_to user_role_path(@user, :id => role.id), method: :delete, :title => 'Remove role', :data => { :toggle => 'tooltip' } do %>
                    <i class="fa fa-times"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

    <% if (Role.all - @user.roles).any? %>
      <div class="col-xs-4">
        <%= form_for :role, url: user_roles_path(@user) do |role_form| %>
          <label class="th dropdown">
            <%= role_form.select :id, Role.all.reject { |r| @user.roles.include? r }.collect { |r| [ r.display_name, r.id ] } %>
          </label>
          <%= role_form.submit 'Add', :class => "btn btn-sm btn-secondary" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
