<% content_for :title do   %>Accounts<% end %>
<% content_for :section do %>Users<% end %>

<%= render 'partials/messages' %>

<div class="pull-right">
  <% if can? :create, User %>
    <%= link_to new_user_path,
                            :class => 'btn btn-secondary btn-sm',
                            :title => 'Add user',
                            :data => { :toggle => 'tooltip' } do %>
      <i class="fa fa-plus"></i>
    <% end %>
  <% end %>
</div>
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a href="#all" class="nav-link active" role="tab" data-toggle="tab">All</a>
  </li>
</ul>


<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="all">
    <table class="th table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Name</th>
          <th>Email</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% if @users.nil? %>
          <tr>
            <td colspan="4" class="text-center">
              <em>No users found</em>
            </td>
          </tr>
        <% else %>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= user.uid %>
              </td>
              <td>
                <strong><%= link_to user.display_name, user_path(user) %></strong>
              </td>
              <td>
                <%= user.email %>
              </td>
              <td>
                <%= user.enabled ? 'Enabled' : 'Disabled' %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
