<% content_for :title do   %>Accounts<% end %>
<% content_for :section do %>Users<% end %>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a href="#all" class="nav-link active" role="tab" data-toggle="tab">All</a>
  </li>
</ul>


<div class="tab-content">
  <div class="pull-right toolbar">
    <% if can? :create, User %>
      <%= link_to new_user_path,
                              :class => 'btn btn-secondary btn-sm',
                              :title => 'Add user',
                              :data => { :toggle => 'tooltip' } do %>
        <i class="fa fa-plus"></i>
      <% end %>
    <% end %>
  </div>
  <div role="tabpanel" class="tab-pane fade in active" id="all">
    <table class="table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% if @users.empty? %>
          <tr>
            <td colspan="4" class="text-center">
              <em>No users found</em>
            </td>
          </tr>
        <% else %>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= user.uid %>
              </td>
              <td>
                <strong><%= link_to user.display_name, user_path(user) %></strong>
              </td>
              <td>
                <%= user.email %>
              </td>
              <% if can? :update, user %>
                <td>
                  <% if not user.confirmed? %>
                    <%= link_to user_path(user) do %>
                      <i class="fa fa-exclamation-triangle" data-toggle="tooltip" title="Unconfirmed email"></i>
                    <% end %>
                  <% end %>
                  <% if not user.enabled %>
                    <%= link_to user_path(user) do %>
                      <i class="fa fa-exclamation-circle" data-toggle="tooltip" title="Account disabled"></i>
                    <% end %>
                  <% end %>
                  <% if user.access_locked? %>
                    <%= link_to user_path(user) do %>
                      <i class="fa fa-lock" data-toggle="tooltip" title="Account locked"></i>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
