<% if can? :create, User %>
  <span class="u-pull-right"><%= link_to 'Add', new_user_path, :class => 'button button-primary-color' %></span>
<% end %>
<h4>Users</h4>
<hr>

<%= render 'partials/messages' %>

<table class="u-full-width">
  <thead>
    <tr>
      <th>uid</th>
      <th>Name</th>
      <th>Email</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    <% User.all.each do |user| %>
      <tr>
        <td>
          <strong><%= user.uid %></strong>
        </td>
        <td>
          <div class="row">
            <div class="two columns">
              <%= image_tag user.gravatar_url, :class => 'avatar' %>
            </div>
            <div class="ten columns">
              <strong><%= link_to user.display_name, user_path(user) %></strong>
              <br>
              <% if user.roles.any? %>
                <em><%= user.display_roles %></em>
              <% end %>
            </div>
          </div>
        </td>
        <td><%= user.email %></td>
        <td><%= user.access_locked? ? 'Disabled' : 'Enabled' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
