<% content_for :title do   %>Accounts<% end %>
<% content_for :section do %><%= @user.display_name %><% end %>

<div class="text-center">
  <%= image_tag @user.gravatar_url, :class => 'img-thumbnail img-circle' %>
  <p>
    <h2><%= @user.display_name %></h2>
    <em><%= @user.email %></em>
  </p>
  <p>
    <div class="btn-group">
      <% if can? :update, @user %>
        <%= link_to edit_user_path(@user), :class => 'btn btn-secondary' do %>
          <i class="fa fa-pencil"></i>
        <% end %>
      <% end %>
      <% if can? :destroy, @user %>
        <%= link_to user_path(@user),
                              :method => :delete,
                              :data => { confirm: 'Are you sure you want to delete this user?' },
                              :class => 'btn btn-secondary' do %>
            <i class="fa fa-trash"></i>
        <% end %>
      <% end %>
    </div>
  </p>
</div>

<div class="title-heading">
  <h3>Personal details</h3>
</div>

<div class="row">
  <div class="col-xs-2">
    <strong>Username</strong>
  </div>
  <div class="col-xs-4">
    <%= @user.uid %>
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
    <strong>Full name</strong>
  </div>
  <div class="col-xs-4">
    <%= @user.display_name %>
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
    <strong>Email</strong>
  </div>
  <div class="col-xs-4">
    <%= @user.email %>
  </div>
</div>

<div class="title-heading">
  <h3>Authorization</h3>
</div>

<p>
  <% if @user.roles.any? %>
    <%= @user.first_name %> has been assigned the following roles:
    <strong><%= @user.roles.map { |r| r.display_name }.join ', ' %></strong>
  <% else %>
    <em><%= @user.first_name %> does not have any assigned roles</em>
  <% end %>
</p>

<div class="title-heading">
  <h3>Recent activity</h3>
</div>

<% if AuthEvent.where(:user_id => current_user.id).any? %>
  <ul class="list-group">
  <% AuthEvent.where(:user_id => current_user.id).each do |event| %>
    <li class="list-group-item">
      <% if event.result %>
        <%= current_user.first_name %> signed in
      <% else %>
        <%= current_user.first_name %> failed to sign in
      <% end %>
      <br>
      <span class="text-timestamp"><%= time_ago_in_words(event.timestamp) %> ago</span>
    </li>
  <% end %>
  </ul>
<% else %>
  <em>No recent activity recorded</em>
<% end %>
