<div class="signin-container">
  <div class="container">
    <h1>Reset password</h1>
    <div class="container">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.hidden_field :reset_password_token %>
        <% if flash.any? %>
        <div class="row">
          <div class="ten columns offset-by-one">
            <%= render 'partials/messages' %>
          </div>
        </div>
        <% end %>
        <div class="row">
          <div class="four columns offset-by-one">
            <%= f.password_field :password, placeholder: 'Password (minimum ' + @minimum_password_length.to_s + ' characters)', autofocus: true, autocomplete: 'off', :class => 'white-input u-full-width' %>
          </div>
          <div class="four columns">
            <%= f.password_field :password_confirmation, placeholder: 'Confirm password', autocomplete: 'off', :class => 'white-input u-full-width' %>
          </div>
          <div class="two columns">
            <%= f.submit 'Change', :class => 'button white-button u-full-width' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
