<div class="signin-container">
  <%= link_to new_session_path(resource_name) do %>
    <%= image_tag("logo-white", :class => 'signin-logo') %>
  <% end %>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <% if flash.any? or devise_error_messages? %>
    <div class="row">
      <div class="col-xs-12">
        <%= render 'partials/messages' %>
        <%= devise_error_messages! %>
      </div>
    </div>
    <% end %>

    <%= f.email_field :email, placeholder: "Email address", autofocus: true %>

    <%= f.submit 'Send reset instructions' %>
  <% end %>
</div>
