<div class="signin-container">
  <%= link_to new_session_path(resource_name) do %>
    <%= image_tag("logo-grey", :class => 'signin-logo m-b-3') %>
  <% end %>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <% if flash.any? or devise_error_messages? %>
    <div class="row">
      <div class="col-xs-12">
        <%= render 'partials/messages' %>
        <%= devise_error_messages! %>
      </div>
    </div>
    <% end %>

    <%= f.email_field :email,
                        :placeholder => 'Email address',
                        :autofocus => true,
                        :class => 'form-control m-b-2' %>

    <%= f.submit 'Send reset instructions', :class => 'btn btn-primary m-t-1' %>
  <% end %>
</div>
