<% content_for :title do   %>Mail<% end %>
<% content_for :section do %>Domains<% end %>

<div class="pull-right">
  <% if (can? :create, Domain or can? :create, DomainAlias) %>
    <div class="btn-group">
      <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-plus"></i>
      </button>
      <div class="dropdown-menu">
        <%= link_to 'Domain', new_domain_path, :class => 'dropdown-item' if can? :create, Domain %>
        <%= link_to 'Domain alias', new_domain_alias_path, :class => 'dropdown-item' if can? :create, DomainAlias %>
      </div>
    </div>
  <% end %>
</div>
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a href="#all" class="nav-link active" role="tab" data-toggle="tab">All</a>
  </li>
  <li class="nav-item">
    <a href="#domains" class="nav-link" role="tab" data-toggle="tab">Domains</a>
  </li>
  <li class="nav-item">
    <a href="#domain_aliases" class="nav-link" role="tab" data-toggle="tab">Aliases</a>
  </li>
</ul>


<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="all">
    <table class="th table">
      <thead>
        <tr>
          <th>Domain</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <% if @domains.empty? and @domain_aliases.empty? %>
          <tr>
            <td colspan="2" class="text-center">
              <em>No domains or domain aliases found</em>
            </td>
          </tr>
        <% end %>
        <% (@domains + @domain_aliases).sort.each do |domain| %>
          <tr>
            <td>
              <% if domain.is_a?(Domain) %>
                <strong><%= link_to domain.domain, domain_path(domain) %></strong>
              <% else %>
                <strong><%= link_to domain.alias, domain_alias_path(domain) %></strong>
              <% end %>
            </td>
            <td>
              <%= domain.is_a?(Domain) ? 'Domain' : 'Domain alias' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div role="tabpanel" class="tab-pane fade in" id="domains">
    <table class="th table">
      <thead>
        <tr>
          <th>Domain</th>
          <th>Emails</th>
        </tr>
      </thead>
      <tbody>
        <% if @domains.empty? %>
          <tr>
            <td colspan="2" class="text-center">
              <em>No domains found</em>
            </td>
          </tr>
        <% end %>
        <% @domains.each do |domain| %>
          <tr>
            <td>
              <strong><%= link_to domain.domain, domain_path(domain) %></strong>
            </td>
            <td>
              <% if domain.emails.any? %>
                <%= domain.emails.count %> active emails
              <% else %>
                <em>No active emails</em>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div role="tabpanel" class="tab-pane fade in" id="domain_aliases">
    <table class="th table">
      <thead>
        <tr>
          <th>Domain alias</th>
          <th>Destination domain</th>
        </tr>
      </thead>
      <tbody>
        <% if @domain_aliases.empty? %>
          <tr>
            <td colspan="2" class="text-center">
              <em>No domain aliases found</em>
            </td>
          </tr>
        <% end %>
        <% @domain_aliases.each do |domain_alias| %>
          <tr>
            <td>
              <strong><%= link_to domain_alias.alias, domain_alias_path(domain_alias) %></strong>
            </td>
            <td>
              <%= domain_alias.domain %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
