<% content_for :title do   %>Mail<% end %>
<% content_for :section do %>Domains<% end %>

<ul class="nav nav-tabs" role="tablist">
  <div class="pull-right">
    <% if (current_user.can? :create, Domain or current_user.can? :create, DomainAlias) %>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-plus"></i>
        </button>
        <div class="dropdown-menu">
          <%= link_to 'Domain', new_domain_path, :class => 'dropdown-item' if current_user.can? :create, Domain %>
          <%= link_to 'Domain alias', new_domain_alias_path, :class => 'dropdown-item' if current_user.can? :create, DomainAlias %>
        </div>
      </div>
    <% end %>
  </div>
  <li class="nav-item">
    <a href="#all" class="nav-link active" role="tab" data-toggle="tab">All</a>
  </li>
  <li class="nav-item">
    <a href="#domains" class="nav-link" role="tab" data-toggle="tab">Domains</a>
  </li>
  <li class="nav-item">
    <a href="#aliases" class="nav-link" role="tab" data-toggle="tab">Aliases</a>
  </li>
</ul>


<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="all">
    <table class="th table">
      <thead>
        <tr>
          <th><input type="checkbox"></th>
          <th>Domain</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <% if (!Domain.any? or !Domain.any?) %>
          <tr>
            <td></td>
            <td colspan="3" class="text-center">
              <em>No registered domains or domain aliases</em>
            </td>
          </tr>
        <% end %>
        <% (Domain.all + DomainAlias.all).sort.each do |domain| %>
          <tr>
            <td>
              <input type="checkbox">
            </td>
            <td>
              <% if domain.is_a?(Domain) %>
                <strong><%= link_to domain.domain, domain_path(domain) %></strong>
              <% else %>
                <strong><%= link_to domain.alias, domain_alias_path(domain) %></strong>
              <% end %>
            </td>
            <td>
              <%= domain.is_a?(Domain) ? 'Domain' : 'Domain alias' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div role="tabpanel" class="tab-pane fade in" id="domains">
    <table class="th table">
      <thead>
        <tr>
          <th><input type="checkbox"></th>
          <th>Domain</th>
          <th>Emails</th>
        </tr>
      </thead>
      <tbody>
        <% if !Domain.any? %>
          <tr>
            <td></td>
            <td colspan="3" class="text-center">
              <em>No registered domains</em>
            </td>
          </tr>
        <% end %>
        <% Domain.all.each do |domain| %>
          <tr>
            <td>
              <input type="checkbox">
            </td>
            <td>
              <strong><%= link_to domain.domain, domain_path(domain) %></strong>
            </td>
            <td>
              <% if domain.emails.any? %>
                <%= domain.emails.count %> active emails
              <% else %>
                <em>No active emails</em>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div role="tabpanel" class="tab-pane fade in" id="aliases">
    <table class="th table">
      <thead>
        <tr>
          <th><input type="checkbox"></th>
          <th>Domain alias</th>
          <th>Destination domain</th>
        </tr>
      </thead>
      <tbody>
        <% if !DomainAlias.any? %>
          <tr>
            <td></td>
            <td colspan="3" class="text-center">
              <em>No registered domain aliases</em>
            </td>
          </tr>
        <% end %>
        <% DomainAlias.all.each do |domain_alias| %>
          <tr>
            <td>
              <input type="checkbox">
            </td>
            <td>
              <strong><%= link_to domain_alias.alias, domain_alias_path(domain_alias) %></strong>
            </td>
            <td>
              <%= domain_alias.domain %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
