<% content_for :title do   %>
  <ol class="th breadcrumb">
    <li>Mail</li>
    <li><%= link_to 'Domains', domains_path %></li>
  </ol>
<% end %>
<% content_for :section do %>Domain <%= @domain.domain %><% end %>

<div class="pull-right">
  <% if current_user.can? :update, @domain %>
    <%= link_to edit_domain_path(@domain), :class => 'btn btn-secondary btn-sm' do %>
      <i class="fa fa-pencil"></i>
    <% end %>
  <% end %>
</div>

<p>
  <strong>Domain</strong>: <%= @domain.domain %>
</p>

<div class="title-heading">
  <h3>Emails</h3>
</div>

<div class="pull-right">
  <% if current_user.can? :create, Email %>
    <%= link_to new_domain_email_path(@domain), :class => 'btn btn-secondary btn-sm' do %>
      <i class="fa fa-plus"></i>
    <% end %>
  <% end %>
</div>

<% if @domain.emails.any? %>
  <table class="th table">
    <thead>
      <tr>
        <th><input type="checkbox"></th>
        <th>Email</th>
        <th>Members</th>
      </tr>
    </thead>
    <tbody>
      <% @domain.emails.each do |email| %>
        <tr>
          <td><input type="checkbox"></td>
          <td>
            <%= link_to email, email_path(email) %>
          </td>
          <td>
            <% if email.permission_group.nil? %>
              <i class="fa fa-exclamation-triangle" data-toggle="tooltip" data-placement="top" title="This email does not have an associated permission group"></i>
            <% else %>
              <%= email.permission_group.users.count %> members
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <em>No active emails</em>
<% end %>
