<div class="signin-container">
  <%= link_to new_session_path(resource_name) do %>
    <%= image_tag("logo-white", :class => 'signin-logo') %>
  <% end %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <% if flash.any? or devise_error_messages? %>
    <div class="row">
      <div class="col-xs-12">
        <%= render 'partials/messages' %>
        <%= devise_error_messages! %>
      </div>
    </div>
    <% end %>

    <%= f.text_field :uid, placeholder: 'Username', autofocus: true %>
    <%= f.password_field :password, placeholder: 'Password', autocomplete: "off" %>

    <div class="help-text">
      <%- if devise_mapping.recoverable? %>
        <%= link_to 'Forgot password', new_password_path(resource_name) %>
      <% end -%>
      <%- if devise_mapping.confirmable? %>
      <span class="pull-right">
        <%= link_to 'Confirm account', new_confirmation_path(resource_name) %>
      </span>
      <% end -%>
    </div>

    <%= f.submit 'Sign in' %>
  <% end %>
</div>
