<% content_for :title do   %>Mail<% end %>
<% content_for :section do %>Emails<% end %>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a href="#all" class="nav-link active" role="tab" data-toggle="tab">All</a>
  </li>
  <li class="nav-item">
    <a href="#emails" class="nav-link" role="tab" data-toggle="tab">Emails</a>
  </li>
  <li class="nav-item">
    <a href="#email_aliases" class="nav-link" role="tab" data-toggle="tab">Aliases</a>
  </li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="all">
    <table class="th table">
      <thead>
        <tr>
          <th>Email</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <% if @emails.empty? and @email_aliases.empty? %>
          <tr>
            <td colspan="2" class="text-center">
              <em>No emails or email aliases found</em>
            </td>
          </tr>
        <% end %>
        <% (@emails + @email_aliases).sort.each do |email| %>
          <tr>
            <td>
              <% if email.is_a?(Email) %>
                <strong><%= link_to email.to_s, domain_email_path(email.domain, email) %></strong>
              <% else %>
                <strong><%= link_to email.alias, email_alias_path(email) %></strong>
              <% end %>
            </td>
            <td>
              <%= email.is_a?(Email) ? 'Email' : 'Email alias' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div role="tabpanel" class="tab-pane fade in" id="emails">
    <table class="th table">
      <thead>
        <tr>
          <th>Email</th>
          <th>Owner</th>
          <th>Status</th>
          <th>Members</th>
        </tr>
      </thead>
      <tbody>
        <% @emails.each do |email| %>
          <tr>
            <td>
              <strong><%= link_to email, domain_email_path(email.domain, email) %></strong>
            </td>
            <% if email.group.nil? %>
              <td colspan="2" class="text-center">
                <i class="fa fa-exclamation-triangle" data-toggle="tooltip" data-placement="top" title="This email does not have an associated permission group"></i>
              </td>
            <% else %>
              <td>
                <% if email.group.owner.nil? %>
                  <em>No current owner</em>
                <% else %>
                  <%= link_to email.group.owner.display_name, user_path(email.owner) %>
                <% end %>
              </td>
              <td>
                <% if email.group.owner == current_user %>
                  Owner
                <% elsif email.group.users.include?(current_user) %>
                  Member
                <% else %>
                  Not a member
                <% end %>
              </td>
              <td>
                <%= pluralize(email.group.users.count, 'member') %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div role="tabpanel" class="tab-pane fade in" id="email_aliases">
    <div class="pull-right">
      <% if can? :create, EmailAlias %>
        <%= link_to new_email_alias_path,
                                :class => 'btn btn-secondary btn-sm',
                                :title => 'Add email alias',
                                :data => { :toggle => 'tooltip' } do %>
          <i class="fa fa-plus"></i>
        <% end %>
      <% end %>
    </div>
    <table class="th table">
      <thead>
        <tr>
          <th>Email alias</th>
          <th>Destination email</th>
        </tr>
      </thead>
      <tbody>
        <% if @email_aliases.empty? %>
          <tr>
            <td colspan="2" class="text-center">
              <em>No email aliases found</em>
            </td>
          </tr>
        <% end %>
        <% @email_aliases.each do |email_alias| %>
          <tr>
            <td>
              <strong><%= link_to email_alias.alias, email_alias_path(email_alias) %></strong>
            </td>
            <td>
              <%= email_alias.mail %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
