<% content_for :title do   %>
  <ol class="th breadcrumb">
    <li>Mail</li>
    <li><%= link_to 'Emails', mail_path %></li>
  </ol>
<% end %>
<% content_for :section do %>Email <%= @email %><% end %>

<div class="pull-right">
  <% if current_user.can? :update, @email %>
    <%= link_to edit_email_path(@email), :class => 'btn btn-secondary' do %>
      <i class="fa fa-pencil"></i>
    <% end %>
  <% end %>
</div>

<p>
  <strong>Email</strong>: <%= @email %>
</p>

<div class="title-heading">
  <h3>Members</h3>
</div>

<% if @email.permission_group.nil? %>
  <div class="alert alert-danger">
    <strong><i class="fa fa-exclamation-triangle"></i> Email account does not have an associated permission group.</strong>
  </div>
  <p>
    Please create a group named <em><%= @email %></em> to allow access control.
  </p>
<% else %>
  <% if @email.permission_group.users.any? %>
    <ul>
      <% @email.permission_group.users.each do |user| %>
        <li><%= link_to user.display_name, user_path(user) %>
      <% end %>
    </ul>
  <% else %>
    <em>No active emails</em>
  <% end %>
<% end %>
