<!DOCTYPE html>
<html>
<head>
  <title>Thalarion Panel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <link href="//fonts.googleapis.com/css?family=Raleway:200,400,600" rel="stylesheet" type="text/css">

  <style type="text/css">
    .signin-container {
      background-image: url('<%= randomized_background_image %>');
    }
  </style>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
