<!DOCTYPE html>
<html>
<head>
  <title>Thalarion Panel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <%= render 'partials/meta' %>
</head>
<body>
  <div class="p-y-3">
    <div class="container">
      <div class="row">
        <div class="hidden-xs col-md-2">
          <%= render 'partials/navigation' %>
        </div>
        <div class="col-xs-12 col-md-9 col-md-offset-1">
          <div class="row">
            <div class="col-xs-12">
              <div class="pull-right signout-banner">
                <%= link_to user_path(current_user) do %>
                  Signed in as <%= current_user.first_name %>
                <% end %>
                <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, :class => 'btn btn-primary m-l-1' %>
              </div>
              <div class="pull-left">
                <div class="title-main">
                  <%= yield :title %>
                </div>
                <div class="title-section">
                  <%= yield :section %>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <%= render 'partials/messages' %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
