<!DOCTYPE html>
<html>
<head>
  <title>Thalarion Panel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <link href="//fonts.googleapis.com/css?family=Roboto+Light:200,400,600" rel="stylesheet" type="text/css">

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="dashboard-container p-y-3">
    <div class="container">
      <div class="row">
        <div class="hidden-xs col-md-2">
          <%= render 'partials/navigation' %>
        </div>
        <div class="col-xs-12 col-md-9 col-md-offset-1">
          <div class="row">
            <div class="col-xs-10">
              <div class="title-main">
                <%= yield :title %>
              </div>
              <div class="title-section">
                <%= yield :section %>
              </div>
            </div>
            <div class="col-xs-2">
              <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, :class => "btn btn-primary" %>
            </div>
          </div>
          <hr>
          <%= render 'partials/messages' %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
